@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

#wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}
#text {
  cursor: default;
  width: 100%;
  font-size: 120%;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #eee;
  z-index: 3;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%; height: 100%; font-weight: bold; text-align: center;
  margin-top: -5px;
}

#wrapper .container {
  position: absolute;
  left: calc(50vw - 4px - 350px / 2);
  top: calc(50vh + 290px - 10px / 2);
  height: 43px;
  width: 350px;
  background-color: rgba(7, 7, 7, 0.637);
  border-radius: 26px;
}


#wrapper .container .bar {
	background-color: #cf2020;
	
	background-size: 40px 40px;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  height: 43px;
  width: 350px;
  border-radius: 26px;
}

@-webkit-keyframes progress-bar-stripes {
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@-moz-keyframes progress-bar-stripes {
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}

@keyframes progress-bar-stripes {
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}
